* {
    margin: 0;
    padding: 0;
}

.nav {
  background-color: #285953;
}

.navbar {
  width: 90vw;
  margin: 0px auto;
  display: flex;
  height: 12vh;
  justify-content: space-between;
  align-items: center;
}

.nav-item  {
  display: flex;
  list-style: none;
 
}

.nav-item li a {
  text-decoration: none;
  padding: 0px 20px;
  color:white;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-item li a :hover {
color: #DFB142;
} 
#mytext{
color: white;
font-weight: 600;
text-decoration: none;
}
#mytext:hover{
color: #DFB142;
}


.btnskit{
  background-color: transparent;
  border: 2px solid transparent;
  font-weight: bold;
  color: #285953;
  outline: none;
  font-size:17px;
  position: relative;
  transition: all 0.4s;
  margin: 15px;
  
}
.btnskit:hover{
  color:#285953;
}
.btnskit::after{
  content: '';
  height: 2px;
  width: 100%;
  background-color: #DFB142;
  position: absolute;
  left: 0;
  bottom: -8px;
  opacity: 0;
  transition: all 0.2sec;
}
.btnskit:hover::after{
  opacity: 1;
}


  
 
  #mytext{
  color: black;
  }
  #mytext:hover{
  color: #DFB142;
  }

  .boxkit{
            background-color: #285953;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
        align-items: center;
        flex-direction: column;
                            
  
        }
        
        .boxkit h1{
            color: #DFB142;
            font-family: sans-serif;
            font-size: 65px;
            font-weight: bold;
        }
        #price{
            margin-right: 350px;
            font-family: sans-serif;
            font-weight: bold;
            color: #285953;
        }

.description{
    margin-left: 48px;
    background-color: #285953;
    border: transparent;

}
.description:hover{
    background-color: #DFB142;
    color: black;
    font-weight: 600;
}
#price{
  margin-right: 350px;
  font-family: sans-serif;
  font-weight: bold;
  color: #285953;
}
.container{
display: flex;
margin-right: 7px;
}

.card{
margin: 10px 5px 10px 0px;    
border-radius: 5px;
right: 30px;

}
.fa-cart-shopping{
  color: #DFB142;
  font-size: 25px;
  }
  .fa-cart-shopping:hover{
      color: #285953;
  }

/* footer */


.footer-top{
    margin: 80px 0px;
    display: flex;
    align-items: center;
  }
  
  .footer-top-left{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-top-right{
    width: 70vw;
    display: flex;
    justify-content: center;
  }
  
  .footer-top-right-sub{
    width: 45vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 10px;
  
  }
  
  .footer-top-right-sub div{
   font-weight: 700;
  }
  
  .footer-bottom{
    /* background-color:#285953; */
   
    
  }
  
  .footer-bottom-sub{
    display: flex;
    justify-content: space-between;
    /* height: 10vh; */
    /* width: 90vw; */
    align-items: center;
    margin: 0px auto;
  }
  
  .footer-bottom-right i{
    font-size: 25px;
    cursor: pointer;
    margin: 2px 8px;
  }
  
  
  
  
  footer {
    background-color: #285953;
    padding: 40px 0;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1 1 200px;
    margin: 10px;
  }
  
  .footer-section h3 {
    color: #285953;
    margin-bottom: 20px;
  }
  
  .footer-section ul {
    list-style: none;
    
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #000;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  
  
  
  .footer-section ul li img {
    width: 24px;
    margin: 0 10px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-section {
        margin: 20px 0;
    }
  }
  
  footer {
    background-color: #285953;
    padding: 40px 0;
    color:white;
  }
  
  footer h4 {
    color: #DFB142;
    font-weight: bold;
  }
  
  footer ul {
    padding: 0;
    list-style: none;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    text-decoration:none;
    color: #DFB142;
  }
  
  footer address {
    font-style: normal;
  }
  
  @media (max-width: 767px) {
    footer .col-md-4 {
        text-align: center;
        margin-bottom: 20px    
    }
  } 
  
  .fi{
     padding-bottom: 5px;
  }
  .fi2{
    padding-bottom: 10px;
  }
  